body{
    margin-left: 80px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Scheherazade New",'Arial', sans-serif;
}

h1{
    margin: 0;
}

.main-menu{
    background: #F8FAFC;
    height: 100vh;
    padding-left: 40px;
}
.main-menu-form{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main-menu-form__inputs{
    display: flex;
    gap: 50px;
}

.main-menu-form__inputs label{
    color: #000000;
    font-weight: bold;
    font-family: 'SF Pro';
}

.main-menu > h1{
    font-size: 4rem;
    color: #040817;
    padding: 30px 0;
}

.h1-username{
    color: #70C7B8;
    font-weight: bold ;
}

.main-menu-form__btn{
    align-self: center;
}


