.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 80px;
}

.container > h1 {
    font-size: 2.5rem;
    color: #000000;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container table th, .container table td {
    padding: 12px;
    text-align: left;
}

.container table th {
    font-family: 'Poppins', sans-serif, system-ui;
    background-color: #F1F8F6;
    font-size: 24px;
    height: 50px;
}

.container table td {
    font-family: 'Poppins', sans-serif, system-ui;
    font-size: 16px;
    border-bottom: 3px solid #505050;
    height: 45px;
}