* {
    font-family: 'Scheherazade New', 'system-ui', sans-serif;
}

h1 {
    color: #000;
    font-size: 36px;
    font-weight: lighter;
}

header {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

header h1 {
    opacity: 0.6;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
}

.login-form .input-group{
    margin: 0 150px;
    text-align: left;
}

.form-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-form button {
    align-self: center;
}

.left-view {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.right-view {
    flex: 1;
    height: 100%;
    background: linear-gradient(180deg, #8BDFD1 0%, #379787 100%);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 280px;
}

.content-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
}

.content-app {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
}

.content-app h1 {
    font-family: 'Poppins', sans-serif, system-ui;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}

.content-app p {
    font-family: 'Scheherazade New', sans-serif, system-ui;
    color: #000;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 200px;
    padding: 0 150px;
}

.content-app span {
    font-family: 'Poppins', sans-serif, system-ui;
    color: #e26969;
    font-size: 32px;
    font-weight: bold;
}